.main {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 0;
	.header {
		color: white;
		background-color: var(--green);
		padding: 10px 30px;
		margin-bottom: 30px;
		cursor: pointer;
	}
}
    