<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <label for='title'>Title</label>
        <input
          id='title'
          class='form-control'
          formControlName="title"
          >
        <label for='description'>Description</label>
        
        <textarea 
          type='text'
          formControlName="description"
          id='description'
          class='form-control'
          >
        </textarea>
      
      <button type="submit" class="btn btn-outline-dark add-btn" [disabled]='form.invalid' >Add</button>
      <button type='button' class="btn btn-outline-dark add-btn close-modal" [disabled]='form.invalid' (click)="c('Save click')"></button>
    </form>
  </div>
</ng-template>

<button class="btn add-task-btn btn-lg btn-outline-primary"  type='button' (click)="open(content)">Add new task</button>


