<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add new task</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for='title'>Title
			<input type='text' id='title' [(ngModel)]='title'>
		</label>
		<label for='description'>Description
			<input type='text' id='description' [(ngModel)]='description'>
		</label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click'); addTask()">Add</button>
  </div>
</ng-template>

<button class="btn add-btn btn-lg btn-outline-primary" (click)="open(content)">Add new task</button>


